body {
	background-color:#292b35;
	padding: 1.5rem;
    
}

h1 {
    color:white;
    padding:20px;
}


p {
    font-size: 1.4rem;
    color:white;
    padding:0;
}

#wrapper{
    position:relative;
    padding-top: 2rem;
    
    
}

table {
    margin-left: auto;
    margin-right: auto;
}

#ki{
    font-family: 'Courier New', Courier, monospace;
    overflow-y: none;
    overflow-x:auto;
    white-space: nowrap;
    width: 80%;
    height:  10rem;
    
}
textarea {
    white-space: pre-wrap;
 }
